.text {
   font-size: 14px;
   margin: 0;
   display: inline-block;
   &__title {
      font-size: 15px;
      margin: 2px 0;
   }
   &__line {
      font-size: 14px;
   }
   &__middleLine {
      display: inline-block;
      vertical-align: middle;
   }
   &__centerLine {
      display: block;
      text-align: center;
   }
   &__subtitle {
      font-size: 13px;
      margin: 0;
   }
   &__date {
      color: rgb(141, 141, 141);
      font-size: 12px;
      margin: 0;
   }
   &__paragraph {
      font-size: 13px;
      text-align: justify;
      text-justify: inter-word;
   }
   &__middle {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
   }
   &__rightLine {
      float: right;
   }
   &__center {
      text-align: center;
      margin: 0;
   }
   &__bold {
      font-weight: 700;
      font-size: 14px;
   }
   &__camel {
      text-transform: capitalize;
   }
   &__uppercase {
      text-transform: uppercase;
   }
   &__group {
      display: inline-block;
   }
   &__absoluteMiddle {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
   }
   &__nowrap {
      white-space: nowrap;
   }
}
