.icon {
  &__circleIcon {
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
}
