:root {
  --primary-font: 'Jost', 'Helvetica', 'Arial', sans-serif;
  --primary-color: rgb(133, 132, 132);
  --secondary-color: rgb(27, 27, 27);
  --gray-light-color: rgb(229, 223, 217);
  --gray-dark-color: rgb(153, 153, 153);
  --black-color: rgb(49, 49, 49);

  --header--gadient: linear-gradient(to bottom,
      #25211e 0,
      rgba(37, 33, 30, 0) 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}