.comment {
   &__header {
   }
   &__reply {
      margin-left: 30px;
      .comment__tab {
         &::before {
            // content: "Replies";
            font-size: 12px;
            margin: 15px 0;
            text-transform: uppercase;
            display: block;
            height: 10px;
         }
      }
   }
   &__tab {
   }
   &__input{
      max-width: 320px;
      overflow-x: hidden;
   }
}
.tab-reply__input{
   padding: 15px 0;
   background-color: #DCE7D7;
   border-radius: 15px;
}
