.personal {
   max-width: 680px !important;
   padding-bottom: 20px;
   font-size: 14px;
   &__avatar {
      display: inline-block;
      overflow: hidden;
      width: 57px;
      height: 57px;
      z-index: 1;
      border-radius: 100%;
   }
   &__title {
      font-size: 14px;
      font-weight: bold;
      text-indent: 10px;
      transform: translateY(40px);
      transition: opacity 0.2s linear;
   }
}
