.signIn {
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  &__green {
    background: #163d3c;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__content {
    width: 85%;
    height: 500px;
    position: absolute;
    z-index: 2;
    top: 50%;
    background-color: white;
    transform: translateY(-50%);
    border: #163d3c 1px solid;
    border-radius: 20px;
  }
  &__form {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    width: 90%;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 380px;
  }
  &__formContainer {
    width: 100%;
  }
  &__input {
    width: 100%;
    border-radius: 10px;
    padding: 8px 12px;
    margin: 0;
    border: #163d3c solid 1px;
    box-shadow: 5px 5px 5px #bdecd8;
  }
  &__text {
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin: 5px;
  }
  &__icon {
    font-size: 50px;
    position: relative;
    text-align: center;
  }
  &__icon2 {
    font-size: 50px;
    display: none;
    position: relative;
    text-align: center;
  }
  &__button {
    background-color: #163d3c;
    color: white;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
    border: #163d3c solid 1px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: #163d3c;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    position: relative;
    &__green {
      position: relative;
      width: 60%;
      height: 100%;
    }
    &__content {
      width: 40%;
      height: 100%;
      position: relative;
      border-radius: 0;
    }
    &__form {
      width: 80%;
    }
    &__icon {
      top: 25%;
    }
    &__icon2 {
      display: block;
    }
    &__text {
      font-size: 40px;
    }
  }
}
